/* CalendarView.css */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center align content */
}

.modal h2 {
    margin-top: 0;
}

.modal input {
    width: calc(100% - 16px);
    /* Adjust for padding */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.modal button {
    padding: 10px 15px;
    margin-top: 10px;
    /* Add some space between buttons */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    /* Adjust button width */
}

.modal button:nth-child(2) {
    background-color: #f44336;
    color: white;
}

.modal button:nth-child(1) {
    background-color: #4caf50;
    color: white;
}